SUPABASE_KEY=
SUPABASE_URL=

#Django 
AUTO_ClEAR_TERMINAL=true
SECRET_KEY=
ALLOWED_HOSTS=.vercel.app,localhost
DEBUG=true

#DB
DB_USER=
DB_HOST=
DB_PORT=6543
DB_PASSWORD=@2069
DB_NAME=postgres


# SUPABSE S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
S3_ENDPOINT=
SUPABASE_PROJECT_ID=